@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Satisfy&family=Shadows+Into+Light&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    /* background: #270F34; */
    overflow: hidden;
    align-items: center;
}

body{
  background-image: url('resources/white.jpg');
  background-position: cover;
 background-size: cover;
}

  .main{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  body{
    display: grid;
    place-items: center;
  }

  .card{
    width: 700px;
    min-height: 360px;
    display: flex;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    background-image: url("cardBG.jpg");
    background-size: 100% 100%;
    background-position: center;

    opacity: 0.9;
    transition: opacity 0.5s;
  }

  .animate-cardleft{
    animation: cardAnimationleft 0.5s ease;
  }
  .animate-cardright{
    animation: cardAnimationright 0.5s ease;
  }

  .card-img{
    margin: auto;
    width: auto;
    height: auto;
  }

  .card-img img{
    margin-top: 10px;
    width: 7rem;
    height: 7rem;
  }
  .card-text{
    padding: 20px 20px;
    text-align: center;
    font-size: 35px;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;

  }

  .main .btn{
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn button{
    width: 40px;
    height: 40px;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-size: large;
    text-align: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .btn button:hover {
    transform: scale(1.3);
}

.hidden {
  transform: translate(-70%, -50%);
  opacity: 0;
}


  @media screen  and (max-width:600px){
    .card{
      width: 350px;
      min-height: 380px;
    }
    .card-text{
      font-size: 25px;
      line-height: 40px;
    }
  }

  @keyframes cardAnimationright {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.1) rotate(3deg);
    }
    100% {
        transform: scale(1) rotate(6deg);
    }
}

  @keyframes cardAnimationleft {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(-6deg);
    }
  }
